.container {
  width: 99%;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* position: relative; */
}
.receptacle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.allBody {
  width: 97%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 113px;
  margin-left: 2rem;
  overflow-x: hidden;
  overflow-y: hidden;
  /* position: relative; Add for RightPanel */
}
.panelsize {
  display: flex;
  width: 100%;
  flex-direction: row;
  transition: width 0.3s;
  /* margin-left: 97px; */
}

/* .minsize {
  display: flex;
  width: 100%;
  flex-direction: row;
  transition: width 0.3s;
  margin-left: 190px; */
/* } */

.right {
  width: 30%;
  position: relative;
}
.left {
  width: 70%;
  margin-top: 13px;
}
